.app {
  box-sizing: border-box;
  padding: 60px 120px;
}

.people {
  list-style: none;
  padding: 0 0 16px;
  height: 310px;
}

.person button {
  background: none !important;
  border: none;
  padding: 8px 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.paging {
  width: 200px;
}

.paging p {
  font-size: 12px;
}

.paging .next {
  float: right;
}
